grav-admin/assets/*
grav-admin/backup/*
grav-admin/bin/*
grav-admin/cache/*
grav-admin/images/*
grav-admin/logs/*
grav-admin/system/*
grav-admin/tmp/*
grav-admin/vendor/*
grav-admin/webserver-configs/*
grav-admin/user/plugins/*
grav-admin/user/themes/*
grav-admin/.htaccess
grav-admin/CHANGELOG.md
grav-admin/CODE_OF_CONDUCT.md
grav-admin/CONTRIBUTING.md
grav-admin/LICENSE.txt
grav-admin/README.md
grav-admin/composer.json
grav-admin/composer.lock
grav-admin/index.php
grav-admin/robots.txt

